#services {
    background-color: var(--gray-100);
    padding-bottom: 120px;

    .services-header {
        display: inline-block;
        margin: 88px 500px 56px;
        /* margin-top: 88px;
        margin-bottom: 56px; */
        text-align: center;
    }

    p {
        margin-bottom: 8px;
    }
}

#grid-services {
    margin-inline: 239px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    .services-card {
        padding: 20px;
        border: 2px solid var(--gray-200);
        border-radius: 12px;

        div {
            padding-top: 20px;

            p {
                padding-top: 8px;
            }
        }
    }
}